# **Tuple**

### `Q1`: Check is tuples are same or not?
Two tuples would be same if both tuples have same element at same index
```
t1 = (1,2,3,0)
t2 = (0,1,2,3)

t1 and t2 are not same
```

In [1]:
# write your code here
t1 = (1,2,3,0)
t2 = (0,1,2,3)
t1==t2

False

### `Q2`: Count no of tuples, list and set from a list
```
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]

```
`Output:`

```
List-2
Set-2
Tuples-1
```

In [2]:
# write your code here
list1 = [{'hi', 'bye'}, {'Geeks', 'forGeeks'}, ('a', 'b'), ['hi', 'bye'], ['a', 'b']]

count_list = 0
count_set = 0
count_tuple = 0

for item in list1:
    if type(item) == list:
        count_list += 1
    elif type(item) == set:
        count_set += 1
    elif type(item) == tuple:
        count_tuple += 1

print("List-", count_list)
print("Set-", count_set)
print("Tuples-", count_tuple)

List- 2
Set- 2
Tuples- 1

### `Q3`: Shortlist Students for a Job role
Ask user to input students record and store in tuples for each record. Then Ask user to input three things he wants in the candidate- Primary Skill, Higher Education, Year of Graduation.

Show every students record in form of tuples if matches all required criteria.

It is assumed that there will be only one primry skill.

If no such candidate found, print `No such candidate`

`Input:`
```
Enter No of records- 2
Enter Details of student-1
Enter Student name- Alice
Enter Higher Education- B.Tech
Enter Primary Skill- Python
Enter Year of Graduation- 2022
Enter Details of student-2
Enter Student name- Ponian
Enter Higher Education- B.Sc.
Enter Primary Skill- C++
Enter Year of Graduation- 2020

Enter Job Role Requirement
Enter Skill- Python
Enter Higher Education- B.Tech
Enter Year of Graduation- 2022
```

`Output`
```
('Alice', 'B.tech', 'Python', '2022')
```

In [5]:
# write your code here

n = int(input("Enter No of records- "))

students = []

for i in range(n):
    print(f"Enter Details of student-{i+1}")
    name = input("Enter Student name- ")
    education = input("Enter Higher Education- ")
    skill = input("Enter Primary Skill- ")
    graduation_year = input("Enter Year of Graduation- ")
    
    student = (name, education, skill, graduation_year)
    students.append(student)

print("\nEnter Job Role Requirement")
req_skill = input("Enter Skill- ")
req_education = input("Enter Higher Education- ")
req_year = input("Enter Year of Graduation- ")

found = False
for student in students:
    if (student[1] == req_education and 
        student[2] == req_skill and 
        student[3] == req_year):
        print(student)
        found = True

if not found:
    print("No such candidate")

Enter No of records- 1
Enter Details of student-1
Enter Student name- Zahid
Enter Higher Education- BSc
Enter Primary Skill- Python
Enter Year of Graduation- 2025

Enter Job Role Requirement
Enter Skill- Python
Enter Higher Education- BSc
Enter Year of Graduation- 2025
('Zahid', 'BSc', 'Python', '2025')

# **Set**

### `Q1:` Write a program to find set of common elements in three lists using sets.
```
Input : ar1 = [1, 5, 10, 20, 40, 80]
        ar2 = [6, 7, 20, 80, 100]
        ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

Output : [80, 20]
```

In [6]:
# write your code here
ar1 = [1, 5, 10, 20, 40, 80]
ar2 = [6, 7, 20, 80, 100]
ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

set1 = set(ar1)
set2 = set(ar2)
set3 = set(ar3)

common_elements = set1 & set2 & set3

result = list(common_elements)

print("Output:", result)

Output: [80, 20]

### `Q2:` Write a program to count unique number of vowels using sets in a given string. Lowercase and upercase vowels will be taken as different.

`Input:`
```
Str1 = "Artificial Intelligence and Machine Learning are transforming the wOrld"
```
`Output:`
```
No of unique vowels-6
```

In [7]:
# write your code here
str1 = "Artificial Intelligence and Machine Learning are transforming the wOrld"

vowels = {'a', 'e', 'i', 'o', 'u', 'A', 'E', 'I', 'O', 'U'}

unique_vowels = {char for char in str1 if char in vowels}

print("No of unique vowels-", len(unique_vowels))

No of unique vowels- 7

### `Q3:` Write a program to Check if a given string is binary string of or not.

A string is said to be binary if it's consists of only two unique characters.

Take string input from user.

```
Input: str = "01010101010"
Output: Yes

Input: str = "1222211"
Output: Yes

Input: str = "DataSolution360"
Output: No
```

In [9]:
# write your code here
str1 = input("Enter a string: ")

unique_chars = set(str1)

if len(unique_chars) == 2:
    print("Yes")
else:
    print("No")

Enter a string: 878788787
Yes


### `Q4`: Intersection of two sets. Intersection of two sets means we need to take all those elements which are common to both of the initial sets and store them into another set. Use **set operations**.

**Example 1:**

Input:
```bash
set1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
set2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}
```

Output:
```bash
{9, 10, 4, 5}
```

**Example 2:**

Input:
```bash
set1 = {4, 9, 1, 17, 11, 26, 28, 54, 69}
set2 = {9, 9, 74, 21, 45, 11, 63, 28, 26}
```

Output:
```bash
{9, 11, 26, 28}
```

In [11]:
# write your code here
set1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
set2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}

intersection_set = set1 & set2  

print(intersection_set)

{9, 10, 4, 5}

In [12]:
set1 = {4, 9, 1, 17, 11, 26, 28, 54, 69}
set2 = {9, 9, 74, 21, 45, 11, 63, 28, 26}

intersection_set = set1 & set2
print(intersection_set)

{9, 26, 11, 28}

# **Dictionary**

### `Q1`: Key with maximum unique values

Given a dictionary with values as lists, extract the key whose value has the most unique values.

**Example 1:**

Input:
```bash
test_dict = {"Python" : [5, 7, 9, 4, 0], "is" : [6, 7, 4, 3, 3], "Awesome" : [9, 9, 6, 5, 5]}
```

Output:
```bash
Python
```

**Example 2:**

Input:
```bash
test_dict = {"Python" : [5, 7, 7, 7, 7], "is" : [6, 7, 7, 7], "Awesome" : [9, 9, 6, 5, 5]}
```

Output:
```bash
Awesome
```

Let me know if you need further adjustments! ðŸ˜Š

In [14]:
# write your code here

test_dict = {
    "Python": [5, 7, 9, 4, 0],
    "is": [6, 7, 4, 3, 3],
    "Awesome": [9, 9, 6, 5, 5]
}

max_key = None
max_unique_count = 0

for key, value_list in test_dict.items():
    unique_count = len(set(value_list))  
    if unique_count > max_unique_count:
        max_unique_count = unique_count
        max_key = key

print(max_key)

Python

In [15]:
test_dict = {
    "Python": [5, 7, 7, 7, 7],
    "is": [6, 7, 7, 7],
    "Awesome": [9, 9, 6, 5, 5]
}

max_key = None
max_unique_count = 0

for key, value_list in test_dict.items():
    unique_count = len(set(value_list))  
    if unique_count > max_unique_count:
        max_unique_count = unique_count
        max_key = key

print(max_key)

Awesome

### `Q2`: Replace words from Dictionary. Given a string, replace its words using a lookup dictionary.

**Example 1:**

Input:
```bash
test_str = 'Python is great for coding beginners.'
repl_dict = {"great" : "amazing", "coding" : "programming"}
```

Output:
```bash
Python is amazing for programming beginners.
```

**Example 2:**

Input:
```bash
test_str = 'Python is great for coding beginners.'
repl_dict = {"awesome" : "amazing", "code" : "programming"}
```

Output:
```bash
Python is great for coding beginners.
```

### Explanation:
- If a word in the string exists in the `repl_dict`, replace it with the corresponding value from the dictionary.
- If a word does not exist in the dictionary, leave it unchanged.

In [16]:
# write your code here

test_str = 'Python is great for coding beginners.'
repl_dict = {"great": "amazing", "coding": "programming"}

words = test_str.split()

result = []
for word in words:
    
    stripped_word = word.rstrip('.,!?')  
    punct = word[len(stripped_word):]   
   
    replaced_word = repl_dict.get(stripped_word, stripped_word) + punct
    result.append(replaced_word)

final_str = ' '.join(result)
print(final_str)

Python is amazing for programming beginners.

In [17]:
test_str = 'Python is great for coding beginners.'
repl_dict = {"awesome": "amazing", "code": "programming"}

words = test_str.split()

result = []
for word in words:
    
    stripped_word = word.rstrip('.,!?')  
    punct = word[len(stripped_word):]   
   
    replaced_word = repl_dict.get(stripped_word, stripped_word) + punct
    result.append(replaced_word)

final_str = ' '.join(result)
print(final_str)

Python is great for coding beginners.

### `Q3`: Convert List to List of Dictionaries. Given a list of values and a list of keys, convert these values into key-value pairs in the form of a list of dictionaries.

**Example 1:**

Input:
```bash
test_list = ["DataScience", 3, "Datasolution", 8]
key_list = ["name", "id"]
```

Output:
```bash
[{'name': 'DataScience', 'id': 3}, {'name': 'Datasolution', 'id': 8}]
```

**Example 2:**

Input:
```bash
test_list = ["Python", 10]
key_list = ["name", "id"]
```

Output:
```bash
[{'name': 'Python', 'id': 10}]
```

In [18]:
# write your code here

test_list = ["DataScience", 3, "Datasolution", 8]
key_list = ["name", "id"]

result = []

for i in range(0, len(test_list), len(key_list)):
    chunk = test_list[i:i + len(key_list)]
    if len(chunk) == len(key_list):  
        result.append(dict(zip(key_list, chunk)))

print(result)

[{'name': 'DataScience', 'id': 3}, {'name': 'Datasolution', 'id': 8}]

In [19]:
test_list = ["Python", 10]
key_list = ["name", "id"]

result = []

for i in range(0, len(test_list), len(key_list)):
    chunk = test_list[i:i + len(key_list)]
    if len(chunk) == len(key_list):  
        result.append(dict(zip(key_list, chunk)))

print(result)

[{'name': 'Python', 'id': 10}]

### `Q4`: Convert a list of Tuples into Dictionary.

**Example 1:**

Input:
```bash
[("Rahim", 10), ("Karim", 12), ("Sadia", 14), ("Tania", 20), ("Fahim", 25), ("Nadia", 30)]
```

Output:
```bash
{'Rahim': [10], 'Karim': [12], 'Sadia': [14], 'Tania': [20], 'Fahim': [25], 'Nadia': [30]}
```

**Example 2:**

Input:
```bash
[('Ayan', 1), ('Bina', 2), ('Celia', 3)]
```

Output:
```bash
{'Ayan': [1], 'Bina': [2], 'Celia': [3]}
```

In [20]:
# write your code here

tuples_list = [("Rahim", 10), ("Karim", 12), ("Sadia", 14), ("Tania", 20), ("Fahim", 25), ("Nadia", 30)]

result = {key: [value] for key, value in tuples_list}

print(result)

{'Rahim': [10], 'Karim': [12], 'Sadia': [14], 'Tania': [20], 'Fahim': [25], 'Nadia': [30]}

In [22]:
tuples_list = [('Ayan', 1), ('Bina', 2), ('Celia', 3)]

result = {key: [value] for key, value in tuples_list}

print(result)

{'Ayan': [1], 'Bina': [2], 'Celia': [3]}

### `Q5`: Sort Dictionary key and values List.

**Example 1:**

Input:

```bash
{'c': [3], 'b': [12, 10], 'a': [19, 4]}
```

Output:

```bash
{'a': [4, 19], 'b': [10, 12], 'c': [3]}
```

**Example 2:**

Input:

```bash
{'c': [10, 34, 3]}
```

Output:

```bash
{'c': [3, 10, 34]}
```

In [23]:
# write your code here
test_dict = {'c': [3], 'b': [12, 10], 'a': [19, 4]}

sorted_dict = {k: sorted(v) for k, v in sorted(test_dict.items())}

print(sorted_dict)

{'a': [4, 19], 'b': [10, 12], 'c': [3]}

In [24]:
test_dict = {'c': [10, 34, 3]}

sorted_dict = {k: sorted(v) for k, v in sorted(test_dict.items())}

print(sorted_dict)

{'c': [3, 10, 34]}

## Solved by Md. Iktiyar Hossain