### `Problem 1` - Print the following pattern. Write a program to use for loop to print the following reverse number pattern.

```bash
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1
```

In [4]:
# Code here
for i in range(5, 0, -1):
    for j in range(i, 0, -1):
        print(j, end=" ")
    print()  # Move to the next line after each row

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

### `Problem 2`: Print the following pattern.

```bash
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*
```

In [5]:
# Code here
for i in range(1, 6):
    print("* " * i)
for i in range(4, 0, -1):
    print("* " * i)

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

### `Problem 3`:Write a program to pring the following pattern

        *
      * * *
    * * * * *
   * * * * * * *
* * * * * * * * *

In [6]:
# Code here
rows = 3
for i in range(1, rows + 1):
    print("  " * (rows - i), end="")
    print("* " * (2 * i - 1))

    *
  * * *
* * * * *

### `Problem 4`:Write a program to print the following pattern

1

2 1

3 2 1

4 3 2 1

5 4 3 2 1

In [7]:
# Code here
for i in range(1, 6):
    for j in range(i, 0, -1):
        print(j, end=" ")
    print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

### `Problem 5`: Write a Python Program to Find the Sum of the Series till the nth term:<br>
1 + x^2/2 + x^3/3 + â€¦ x^n/n<br>
n will be provided by the user

In [8]:
# Code here
x = float(input("Enter the value of x: "))
n = int(input("Enter the value of n: "))
series_sum = 1.0
for i in range(2, n + 1):
    term = (x ** i) / i
    series_sum += term
print(f"The sum of the series is: {series_sum}")

Enter the value of x: 5
Enter the value of n: 4
The sum of the series is: 211.41666666666666

### `Problem 6` - Find the sum of the series upto n terms.
Write a program to calculate the sum of series up to n term. For example, if n =5 the series will become 2 + 22 + 222 + 2222 + 22222 = 24690. Take the user input and then calculate. And the output style should match which is given in the example.

**Example 1:**

`Input:`
```bash
5
```

`Output:`

```bash
2+22+222+2222+22222
Sum of above series is: 24690
```

In [9]:
# Code here
n = int(input("Enter the number of terms: "))
term = 0
series_sum = 0
series_str = ""

for i in range(1, n + 1):
    term = term * 10 + 2  
    series_sum += term
    series_str += str(term)
    if i != n:
        series_str += "+"
print(series_str)
print(f"Sum of above series is: {series_sum}")

Enter the number of terms: 4
2+22+222+2222
Sum of above series is: 2468

### `Problem 7`: Write a program to print all the unique combinations of 1,2,3 and 4

`Output`:
```
1 2 3 4
1 2 4 3
1 3 2 4
1 3 4 2
1 4 2 3
1 4 3 2
2 1 3 4
2 1 4 3
2 3 1 4
2 3 4 1
2 4 1 3
.
.
and so on
```

In [10]:
# Code here
import itertools
numbers = [1, 2, 3, 4]
perms = itertools.permutations(numbers)
for p in perms:
    print(" ".join(map(str, p)))

1 2 3 4
1 2 4 3
1 3 2 4
1 3 4 2
1 4 2 3
1 4 3 2
2 1 3 4
2 1 4 3
2 3 1 4
2 3 4 1
2 4 1 3
2 4 3 1
3 1 2 4
3 1 4 2
3 2 1 4
3 2 4 1
3 4 1 2
3 4 2 1
4 1 2 3
4 1 3 2
4 2 1 3
4 2 3 1
4 3 1 2
4 3 2 1

### Solved by Md. Iktiyar Hossain